@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
#countdown {
  background: url("logo.png") no-repeat scroll center top transparent;
  color: navy;
  font: 80px 'Sigmar One',cursive;
  left: 50%;
  margin-left: 150px;
  padding-top: 40px;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px #CCCCCC, 0 0 70px #CCCCCC, 0 0 8px #CCCCCC, 0 0 10px #CCCCCC, 0 0 15px #CCCCCC;
  top: 50px;
  width: 300px;
}
